*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Tahoma, sans-serif;
}

body{
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('Assets/backgorund.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #0f0f0f;
    color:white;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
}

.avatar{
    width:100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    margin-bottom: 15px;
}

.links-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.link-card {
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #333;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-card:hover {
    background-color: #252525;
    transform: scale(1.02);
    border-color: #555;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.link-card i {
    margin-right: 10px;
    font-size: 1.1rem;
    width: 20px;
    text-align: center;
}
