<!DOCTYPE html>
<html>
    <head>
        <title>
            Cadastro
        </title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class = "container">
            <h1>Crie uma conta</h1>
            <form action="/auth/cadastro" method="post">
                <input type="text" name="username" placeholder="Usuário" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="submit">Cadastrar</button>
                <p style="margin-top: 16px; color: #888;">Já tem conta? <a href="/login" style="color: white;">Entrar</a></p>
            </form>
        </div>
    </body>
</html>