<!DOCTYPE html>
<html>
<head>
    <title>Gerenciar Meus Links</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1 style="margin-bottom: 8px;">Meus Links</h1>
        <p style="color:#888; margin-bottom: 24px;">@{{ username }}</p>
        
        <form action="/links/adicionar" method="post">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="text" name="nome" placeholder="Nome do Link (ex: Instagram)" required>
            <input type="url" name="url" placeholder="https://..." required>
            <button type="submit">Adicionar Link</button>
        </form>

        <hr style="border-color: #222; margin: 24px 0;">

        <div style="display: flex; flex-direction: column; gap: 12px;">
            {% for link in links %}
            <div style="display: flex; align-items: center; justify-content: space-between; background: #1a1a1a; padding: 12px 16px; border-radius: 8px; border: 1px solid #333;">
                <a href="{{link.url}}" traget="_blank" style="color: white; text-decoration: none;">{{ link.nome}}</a>
                <form action="/links/deletar/{{ link.id }}" method="post">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <button type="submit" style="background: transparent; color: #888; border: 1px solid #333; width: auto; padding: 6px 12px; font-weight: normal;">Remover</button>
            </form>
            </div>
            {% endfor %}
        </div>
        <a href="/dashboard" style="display: block; margin-top: 16px; color: #888;">← Voltar </a>
        <a href="/user/{{ username }}" style="display: block; margin-top: 24px; color: #888;">Ver perfil público</a>
        <a href="/logout" style="display: block; margin-top: 12px; color: #ff4444;">Sair</a>
        
    </div>
</body>
</html>